<div class="tool-container">
  <div id="equalizer-container" data-controller="equalizer" class="equalizer-container">
    <form name="equalize" enctype="multipart/form-data" id="equalize-form" method="post" action="/equalize" class="">
      <fieldset>
        <legend>Please select an EQ type</legend>
        <% @eq_directions.each do |direction| %>
          <div class="form-check form-check-inline mb-2">
            <label for="<%= direction %>" class="form-check-label"><%= direction %></label>
            <input type="radio" id="<%= direction %>" name="direction" value="<%= direction %>" class="form-check-input">
          </div>
        <% end %>
      </fieldset>
      <input type="file" name="file" class="form-control mb-2">
      <%# trigger a javascript fuction that submits the form and presents a download link %>
      <%# then delete the file %>
      <input type="submit" id="eq-submit" value="Equalize" class="btn btn-light">
      <%= image_tag "loader.gif", style: "display: none; width: 20px", id: "loader" %>
      <% if @tool == Tool.new.class %>
        <input type="hidden" value="<%= @tool.id %>" name="tool_id" />
      <% end %>
    </form>
  </div>
</div>
